<!DOCTYPE html>
<html lang="en">
<head>
  <title>Главная страница</title>
    <%- include('../templates/head'); %>
</head>
<body>
  <header>
    <%- include('../templates/navbar'); %>
</header>
<main>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <h1>Главная страница</h1>
          <div class="row">
            <div class="col-md-6"><canvas id="install_clients" ></canvas></div>
            <div class="col-md-6"><canvas id="active_clients" ></canvas></div>
          </div>
          <div class="row">
            <div class="col-md-6"><canvas id="statistics_month" ></canvas></div>
          </div>
        </div>
    </div>
    <script>
      const install_clients_ctx = document.getElementById('install_clients').getContext('2d');
      const active_clients_ctx = document.getElementById('active_clients').getContext('2d');
      const statistics_month_ctx = document.getElementById('statistics_month').getContext('2d');
      
      var arr_dates_string = '<%= arr_dates %>';
      console.log(arr_dates_string)
      var arr_dates = arr_dates_string.replace("[","").replace("]","").split(',');

      var arr_install_clients_week_string = '<%= arr_install_clients_week %>';
      var arr_install_clients_week = arr_install_clients_week_string.replace("[","").replace("]","").split(',');
      
      
      const myChart = new Chart(install_clients_ctx, {
          type: 'line',
          data: {
              labels: arr_dates,
              datasets: [{
                  label: 'Количество зарегистрированных в день',
                  data: arr_install_clients_week,
                  backgroundColor: 'rgb(255, 99, 132)',
                  borderColor: 'rgb(255, 99, 132)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });

      var arr_active_clients_week_string = '<%= arr_active_clients_week %>';
      var arr_active_clients_week = arr_active_clients_week_string.replace("[","").replace("]","").split(',');
      
      const myChart1 = new Chart(active_clients_ctx, {
          type: 'line',
          data: {
              labels: arr_dates,
              datasets: [{
                  label: 'Количество активных пользователей в день',
                  data: arr_active_clients_week,
                  backgroundColor: 'rgb(0,128,255)',
                  borderColor: 'rgb(0,128,255)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });


      var arr_km_in_month_string = '<%= arr_km_in_month %>';
      var arr_km_in_month = arr_km_in_month_string.replace("[","").replace("]","").split(',');

      
      var arr_month_in_year_string = '<%= arr_month_in_year %>';
      var arr_month_in_year = arr_month_in_year_string.replace("[","").replace("]","").split(',');
      
      const myChart2 = new Chart(statistics_month_ctx, {
          type: 'line',
          data: {
              labels: arr_month_in_year,
              datasets: [{
                  label: 'Километраж бега за месяц',
                  data: arr_km_in_month,
                  backgroundColor: 'rgb(23,114,69)',
                  borderColor: 'rgb(23,114,69)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });

      </script>
      
  </main>
</body>
</html>