<!DOCTYPE html>
<html lang="en">
<head>
  <title>Тренировки</title>
    <%- include('../templates/head'); %>
</head>
<body>
  <header>
    <%- include('../templates/navbar'); %>
</header>
<main>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <% if(transactions != false) { %>
                <h3>Транзакции</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Пользователь</th>
                        <th scope="col">Операции</th>
                        <th scope="col">Тип</th>
                        <th scope="col">Деталь</th>
                        <th scope="col">Сумма</th>
                        <th scope="col">Дата</th>
                        <th scope="col"></th>
                      </tr>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">
                          <select id="type" class="form-control">
                            <option value="">Выберите тип</option>
                            <option value="IAP">Покупка фишкионов</option>
                            <option value="skin">Покупка скина</option>
                            <option value="achievement">Достижение</option>
                            <option value="challenge">Челленджи</option>
                            <option value="week_challenge">Недельные челленджи</option>
                            <option value="web_add">Добавление фишкоина из сайта</option>
                          </select>
                        </th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        <% transactions.forEach(function(transaction) { %>
                            <tr>
                                <td scope="row"><%= transaction.id %></td>
                                <td><a href="/web/users/view?id=<%= transaction.user_id %>"><% if(transaction.user_name == '') {%> --Без имени-- <% } else { %> <%= transaction.user_name %> <% } %></a></td>
                                <td><%= transaction.operation %></td>
                                <td><%= transaction.type %></td>
                                <td><%= transaction.detail_id %></td>
                                <td><%= transaction.amount %></td>
                                <td><%= transaction.created %></td>
                                <td></td>
                              </tr>
                        <% }); %>
                    </tbody>
                </table>
                <nav>
                  <ul class="pagination pagination-sm">
                    <% var addedNumber = parseInt(page) + 5;
                      var disable_class = "";
                      if(page == 1){
                        disable_class = "disabled";
                      }
                    %>
                    <li class="page-item <%= disable_class %>"><a class="page-link" href="#" onclick="onclick_pagination('<%= page-1 %>')">«</a></li>
                    <% for (i = 1; i <= pagination_len; i++) {%>
                      <% if((i >= (page - 5)) && (i <= (addedNumber))) {
                        var active_class = "";
                        if(page == i){
                          active_class = "active";
                        }
                        %>
                          <li class="page-item <%= active_class %>"><a class="page-link" href="#" onclick="onclick_pagination('<%= i %>')"><%= i %></a></li>
                      <% } %>                      
                    <% } %>
                    <% 
                      var disable_class = "";
                      if(page == pagination_len){
                        disable_class = "disabled";
                      }
                    %>
                    <li class="page-item <%= disable_class %>"><a class="page-link" onclick="onclick_pagination('<%= parseInt(page)+1 %>')">»</a></li>
                  </ul>
                </nav>
            <% } %>
        </div>
        <script>
          var getUrlParameter = function getUrlParameter(sParam) {
              var sPageURL = window.location.search.substring(1),
                  sURLVariables = sPageURL.split('&'),
                  sParameterName,
                  i;
    
              for (i = 0; i < sURLVariables.length; i++) {
                  sParameterName = sURLVariables[i].split('=');
    
                  if (sParameterName[0] === sParam) {
                      return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                  }
              }
              return false;
          };
          $(document).on('change', '#type', function(){
            window.location.href = "/web/transactions?type="+$(this).val();
          });
          var search = getUrlParameter('type');
          console.log(search);
          if(search != false)
            $("#type").val(search);
          function onclick_pagination(page){
            if(search != false)
              window.location.href = "/web/transactions?type="+$("#type").val()+"&page="+page;
            else
              window.location.href = "/web/transactions?page="+page;
          }
        </script>
    </div>
  </main>
</body>
</html>